// Colors
$black: #212427; // Not pure black, better for readability
$white: #fff;
$brand-blue: #3483ec;
$brand-purple: #6451b7;
$brand-grey: #666666;
$brand-darkGrey: #4d4d4d;
$brand-darkestGrey: #1a1a1a;
$brand-discord: #5865F2;
$brand-raiderio: #e5a024;

// Typography
$text-color: $black;
$font: 'Cabin', sans-serif; // Define custom font(s) here
$font-system: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, helvetica, arial, sans-serif;
$text-size: 2rem; // 20px
$text-style: normal;

// Font Weights
$text-regular: 400;
$text-medium: 500;
$text-semi-bold: 600;
$text-bold: 700;

// Easings
$standard-ease: cubic-bezier(0.4, 0, 0.2, 1);
$decelerate-ease: cubic-bezier(0, 0, 0.2, 1);
$accelerate-ease: cubic-bezier(0.4, 0, 1, 1);

// Mobile Nav
$nav-timing: 200ms;

// CSS Variables
:root {
	// Colors
	--black: #{$black};
	--white: #{$white};
	--brand-blue: #{$brand-blue};
	--brand-purple: #{$brand-purple};
	--brand-grey: #{$brand-grey};
	--brand-darkGrey: #{$brand-darkGrey};
	--brand-darkestGrey: #{$brand-darkestGrey};
	--brand-discord: #{$brand-discord};
	--brand-raiderio: #{$brand-raiderio};

	// Typography
	--font: #{$font}, #{$font-system};
	--font-system: #{$font-system};
	--text-size: #{$text-size};
	--text-color: #{$text-color};
	--text-regular: #{$text-regular};
	--text-medium: #{$text-medium};
	--text-semi-bold: #{$text-semi-bold};
	--text-bold: #{$text-bold};

	--nav-timing: #{$nav-timing};
	// Easings
	--standard-ease: #{$standard-ease};
	--decelerate-ease: #{$decelerate-ease};
	--accelerate-ease: #{$accelerate-ease};
}

// Breakpoints / Widths for IncludeMedia
$grid-breakpoints: (
	xxs: 0,
	xs:  380px,
	xsm: 480px,
	sm:  576px,
	md:  768px,
	lg:  992px,
	xl:  1200px,
	xxl: 1400px
) !default;