/**
 *
 * --------------------------------
 *  CSS Style
 * -------------------------------
 *
 */

// Variables
@import "variables";

// media queries
@import "node_modules/include-media/dist/_include-media.scss";
$breakpoints: $grid-breakpoints;

// Helpers
@import "mixins";

// Imports
	// @import "example";


*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	// Set 1rem = 10px, so 1.6rem is 16px, etc
	font-size: 62.5%;
}

body {
	--navHeight: 8rem;
	--navBgColor: rgba($brand-blue, 0);
	font: {
		family: var(--font);
		size: var(--text-size);
		weight: var(--text-regular);
	}
	line-height: 1.4;
	@include font-smoothing;
	color: var(--text-color);
	width: 100%;
	-webkit-overflow-scrolling: touch;
	overflow-x: hidden;
	@include media("<sm") {
		font-size: 1.8rem;
	}
	@include media("<xs") {
		font-size: 1.6rem;
	}
	&.scrolled {
		// --navHeight: 6rem;
		--bg: var(--brand-blue);
	}
}
.cta {
	--skewAngle: 5%;
	--skewTL: calc(var(--skewAngle));
	--skewBR: calc(100% - var(--skewAngle));
	position: relative;
	color: white;
	text-transform: uppercase;
	font-weight: var(--text-bold);
	font-size: 2.2rem;
	text-decoration: none;
	background: var(--brand-blue);
	padding: 1rem 2rem;
	// border-radius: 5px;
	clip-path: polygon(var(--skewTL) 0,100% 0,var(--skewBR) 100%,0 100%);
	transform: background 100ms var(--standard-ease);
	overflow: hidden;
	&::before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: var(--brand-purple);
		z-index: -1;
		transform-origin: left;
		transition: transform 200ms var(--standard-ease);
		transform: translateX(-100%);
		clip-path: polygon(var(--skewTL) 0,100% 0,var(--skewBR) 100%,0 100%);
	}
	&:hover {
		// background: darken($brand-blue,10%);
		&::before {
			transform: translateX(0);
		}
	}
}
.hide {
	// display: none;
	visibility: hidden;
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	transform: translateY(calc(var(--navHeight) * -1));
}
h2.special {
	position: relative;
	display: inline-flex;
	padding: 0.25rem 1.75rem 1rem;
	text-transform: uppercase;
	color: white;
	font-size: 3.6rem;
	font-weight: var(--text-semi-bold);
	margin-bottom: 6rem;
	&::before,
	&::after {
		content: '';
		display: block;
		position: absolute;
	}
	&::before {
		top: 0;
		left: 0;
		width: 4px;
		height: 100%;
		background: var(--brand-blue);
	}
	&::after {
		bottom: 0;
		left: 0;
		height: 4px;
		width: 100%;
		background: var(--brand-blue);
	}
}
.linkUnderline {
	position: relative;
	&:hover {
		&::after {
			transform: scale3d(1,1,1);
		}
	}
	&::after {
		content: '';
		display: block;
		position: absolute;
		top: 90%;
		left: 5%;
		width: 90%;
		border-bottom: 2px solid white;
		transform-origin: center;
		transform: scale3d(0,1,1);
		transition: transform 100ms var(--standard-ease);
	}
}
#header {
	// position: sticky;
	position: fixed;
	width: 100%;

	top: 0;
	z-index: 10;
	background: var(--navBgColor);
	height: var(--navHeight);
	transition: 100ms var(--standard-ease);
	nav {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row;
		// justify-content: space-between;
		.logo {
			display: flex;
			width: 150px;
			margin-right: auto;
		}
		ul {
			list-style: none;
			display: flex;
			flex-direction: row;
			padding: 0;
			margin: 0;
			height: 100%;
			&.primary{
				margin-right: 2rem;
			}
			li {
				height: 100%;
				a {
					display: flex;
					align-items: center;
					color: white;
					font: {
						size: 2.2rem;
						weight: var(--text-medium);
					};
					text-decoration: none;
					padding: 0 1rem;
					height: 100%;
					transition: 100ms var(--standard-ease);
					&:not(.img) {
						@extend .linkUnderline;
						&::after {
							left: 7.5%;
							width: 85%;
							top: 70%;
						}
					}
					&.img {
						// margin-right: 1rem;
						// margin-top: 1rem;
						svg {
							fill: white;
							height: 1em;
						}
						&--discord {
							svg {
								.color {
									fill: transparent;
								}
							}
							// &:hover {
							// 	svg {
							// 		fill: var(--brand-discord);
							// 		.color {
							// 			fill: white;
							// 		}
							// 	}
							// }
						}
						&--raiderio {
							// &:hover {
							// 	svg {
							// 		.color {
							// 			fill: var(--brand-raiderio);
							// 		}
							// 	}
							// }
						}
					}
				}
			}
		}
	}
}
.section {
	position: relative;
	&--banner {
		// height: 80vh;
		// aspect-ratio: 64/25;
		display: grid;
		place-items: center;
		aspect-ratio: 16/8;
		overflow: hidden;
		@include media('<xl') {
			aspect-ratio: 16/10.5;
		}
		@include media('<lg') {
			aspect-ratio: 16/10.5;
		}
		@include media('<md') {
			aspect-ratio: 1/1;
		}
		@include media('<sm') {
			aspect-ratio: 1/1.25;
		}
		@include media('<xs') {
			aspect-ratio: 1/1.6;
		}
		// .bg {
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	width: 100%;
		// 	height: 100%;
		// 	img {
		// 		object-fit: cover;
		// 		width: 100%;
		// 		height: 100%;
		// 	}
		// }
		.background {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: block;
			.overlay {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				display: block;
				background: black;
				opacity: 0.4;
				// mix-blend-mode: multiply;
			}
			img,iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				transform: scale(1.2); // up-scaling the video to crop out the YT logo in the bottom-right
				transform-origin: center;
				@include media('<md') {
					transform: scale(1.8);
				}
				@include media('<sm') {
					transform: scale(2.3);
				}
				@include media('<xs') {
					transform: scale(2.9);
				}
			}
		}
		.content {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			h1 {
				img {
					width: clamp(200px,20vw,400px);
				}
				.hidden {
					font-size: 0;
					text-indent: 100%;
					white-space: nowrap;
					overflow: hidden;
				}
			}
			h2 {
				color: white;
				font: {
					size: 4rem;
					weight: var(--text-semi-bold);
				};
				margin-bottom: 2rem;
				small {
					font-size: 1.5rem;
					transform: translateY(-25%);
					display: inline-block;
				}
			}
		}
	}
	&--ce {
		background: var(--brand-darkestGrey);
		padding: 6rem 0 10rem;
		.ce-grid {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 5rem 2rem;
			.block {
				--skewAngle: 10%;
				--skewTL: calc(0% + var(--skewAngle));
				--skewBR: calc(100% - var(--skewAngle));
				position: relative;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				aspect-ratio: 1/.9;
				clip-path: polygon(var(--skewTL) 0,100% 0,var(--skewBR) 100%, 0 100%);
				text-decoration: none;
				&:hover {
					.bg {
						.overlay {
							opacity: 0;
						}
						img {
							transform: scale3d(1.1,1.1,1);
						}
					}
				}
				.bg {
					img,.overlay {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						transition: all 200ms var(--decelerate-ease);
					}
					img {
						object-fit: cover;
						transform: scale3d(1,1,1);
					}
					.overlay {
						background: rgba(black,0.5);
						width: 110%;
						height: 110%;
						left: -5%;
						top: -5%;
					}
				}
				
				h3,time,.rank {
					--throw: 3px;
					--nt: calc(var(--throw) * -1);
					--spread: 4px;
					--color: rgba(0 0 0 / 0.6);
					color: white;
					position: relative;
					text-shadow: var(--throw) var(--throw) var(--spread) var(--color),
								var(--nt) var(--throw) var(--spread) var(--color),
								var(--throw) var(--nt) var(--spread) var(--color),
								var(--nt) var(--nt) var(--spread) var(--color);
				}
				h3 {
					font-size: 3.2rem;
					margin: 0;
					&::after {
						content: '';
						display: block;
						width: 80%;
						transform: translateX(10%);
						margin: 1rem 0 1.5rem;
						border-bottom: 4px solid var(--brand-blue);
					}
				}
				time {
					font-size: 2.4rem;
					font-weight: var(--text-semi-bold);
				}
				.rank {
					display: flex;
					align-items: center;
					font: {
						size: 1.6rem;
						weight: var(--text-bold);
					}
					&::before,
					&::after {
						content: '';
						display: inline-flex;
						width: 1.5rem;
						height: 2px;
						background: white;
						margin: 0 0.6rem;
					}
				}
			}
		}
	}
	&--streams {
		background: var(--brand-darkestGrey);
		padding: 6rem 0;
		.streamers {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 2rem;
			.streamer {
				position: relative;
				display: flex;
				border: 3px solid transparent;
				padding: 1.5rem 2rem;
				align-items: center;
				justify-content: space-between;
				cursor: pointer;
				&.active,
				&:hover {
					border-color: var(--brand-blue);
				}
				&--preview {
					position: absolute;
					object-fit: cover;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					opacity: 0.6;
				}
				&--name,
				&--views {
					color: white;
					position: relative;
					text-shadow: 0 0 20px var(--black);
				}
				&--name {
					font-size: 2.2rem;
				}
				&--views {
					font-size: 1.6rem;
					&::before {
						content: '';
						display: inline-block;
						width: 1rem;
						height: 1rem;
						background: red;
						border-radius: 50%;
					}
				}
			}
		}
		#twitch {
			position: relative;
			// padding-bottom: 56.25%; /* 16:9 */
			aspect-ratio: 16/9;
			width: 100%;
			margin: 3rem auto;
			background: linear-gradient(45deg, rgba(52,131,236,1) 0%, rgba(100,81,183,1) 100%);
			display: grid;
			place-content: center;
		}
		#twitch object, #twitch iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		.noStreams {
			color: #fff;
			font-size: 4rem;
			display: flex;
			align-items: center;
			font-size: clamp(2rem, 3vw, 6rem);
			font-weight: var(--text-regular);
			img {
				width: 64px;
				margin: 0 2rem;
			}
		}
	}
}
#footer {
	background: var(--brand-darkGrey);
	padding: 6rem 0 0;
	.grid {
		display: grid;
		grid-template-columns: auto 1fr;
		grid-gap: 4rem;
	}
	.logo {
		width: 330px;
	}
	.footer-nav {
		list-style: none;
		display: flex;
		flex-direction: column;
		justify-content: center;
		li {
			a {
				position: relative;
				padding: 0.5rem;
				display: inline-flex;
				color: white;
				text-decoration: none;
				font: {
					size: 2.2rem;
					weight: var(--text-semi-bold);
				};
				&:not(.img) {
					@extend .linkUnderline;
				}
				&.img {
					margin-right: 1rem;
					margin-top: 1rem;
					svg {
						fill: white;
						height: 3rem;
					}
					&--discord {
						svg {
							.color {
								fill: transparent;
							}
						}
						&:hover {
							svg {
								fill: var(--brand-discord);
								.color {
									fill: white;
								}
							}
						}
					}
					&--raiderio {
						&:hover {
							svg {
								.color {
									fill: var(--brand-raiderio);
								}
							}
						}
					}
				}
			}
		}
	}
	.copyright {
		font-size: 1.6rem;
		color: white;
		border-top: 2px solid var(--brand-grey);
		padding: 2rem 0 1.5rem;
		margin-top: 5rem;
	}
}



