/**
 *
 * --------------------------------
 *  CSS Style
 * -------------------------------
 *
 */

// Variables
@import "variables";

// media queries
@import "node_modules/include-media/dist/_include-media.scss";
$breakpoints: $grid-breakpoints;

// Helpers
@import "mixins";

// Imports
	// @import "example";


*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	// Set 1rem = 10px, so 1.6rem is 16px, etc
	font-size: 62.5%;
	// nav
	--navSpeed: 200ms;
	--mobileNavWidth: 200px;
}
body {
	--navHeight: 8rem;
	--navBgColor: rgba($brand-blue, 0);
	font: {
		family: var(--font);
		size: var(--text-size);
		weight: var(--text-regular);
	}
	line-height: 1.4;
	@include font-smoothing;
	color: var(--text-color);
	width: 100%;
	-webkit-overflow-scrolling: touch;
	overflow-x: hidden;
	@include media('<md') {
		--navHeight: 6rem;
	}
	@include media("<sm") {
		font-size: 1.8rem;
	}
	@include media('<xsm') {
		--navHeight: 5.5rem;
	}
	@include media("<xs") {
		font-size: 1.6rem;
	}
	&.scrolled {
		// --navHeight: 6rem;
		--bg: var(--brand-blue);
	}
	// transition: 100ms var(--standard-ease);
	.navAnimate {
		transition: var(--nav-timing) var(--standard-ease);
	}
	&.nav-open {
		.navAnimate {
			transform: translateX(calc(var(--mobileNavWidth) * -1));
			// transform: translateX(var(--mobileNavWidth));
		}
		#header {
			.mobileNav {
				// transform: translateX(0);
			}
		}
	}
}
// fancybox mod
.fancybox-slide {
	@include media('<md') {
		padding: 44px 22px;
	}
	@include media('<sm') {
		padding: 44px 0;
	}
}

[data-tooltip] {
	&::before,
	&::after {
		display: block;
		position: absolute;
		color: white;
		// background: black;
		font-size: 14px;
		transition: 150ms ease;
		opacity: 0;
		pointer-events: none;
		user-select: none;
		background-color: #111;
		border: 1px solid #222;
		box-shadow: 0 1px 8px rgba(0,0,0,.5);
		@include media('<sm') {
			font-size: 12px;
		}
		&:hover {
			pointer-events: all;
		}
	}
	&::before {
		content: attr(data-tooltip);
		padding: 5px 10px;
		border-radius: 3px;
		width: max-content;
		@include media('<sm') {
			padding: 4px 6px;
		}
	}
	&::after {
		content: "";
		width: 20px;
		height: 10px;
	}
	&[data-position="top"] {
		&::before {
			top: 0;
			left: 50%;
			transform: translate(-50%, -100%);
		}
		&::after {
			top: 0;
			left: 50%;
			transform: translate(-50%, calc(-100% + 10px));
			clip-path: polygon(0 0, 100% 0, 50% 100%);
		}
		&:hover {
			&::before,
			&::after {
				opacity: 1;
			}
			&::before {
				transform: translate(-50%, calc(-100% - 10px));
			}
			&::after {
				transform: translate(-50%, -100%);
			}
		}
	}
	&[data-position="bottom"] {
		&::before {
			top: 100%;
			left: 50%;
			transform: translate(-50%, 0px);
		}
		&::after {
			top: 100%;
			left: 50%;
			transform: translate(-50%, -10px);
			clip-path: polygon(50% 0, 100% 100%, 0 100%);
		}
		&:hover {
			&::before,
			&::after {
				opacity: 1;
			}
			&::before {
				transform: translate(-50%, 10px);
			}
			&::after {
				transform: translate(-50%, 0);
			}
		}
	}
}

.cta {
	--skewAngle: 5%;
	--skewTL: calc(var(--skewAngle));
	--skewBR: calc(100% - var(--skewAngle));
	position: relative;
	color: white;
	text-transform: uppercase;
	font-weight: var(--text-bold);
	font-size: 2.2rem;
	text-decoration: none;
	background: var(--brand-blue);
	padding: 1rem 2rem;
	// border-radius: 5px;
	clip-path: polygon(var(--skewTL) 0,100% 0,var(--skewBR) 100%,0 100%);
	transform: background 100ms var(--standard-ease);
	overflow: hidden;
	@include media('<xl') {
		padding: 0.9rem 2rem;
	}
	@include media('<lg') {
		font-size: 2rem;
	}
	&::before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 120%;
		height: 120%;
		background: var(--brand-purple);
		background: linear-gradient(95deg, var(--brand-purple) 85%, var(--brand-blue) 100%);
		z-index: -1;
		transform-origin: left;
		transition: transform 200ms var(--standard-ease);
		transform: translateX(-120%);
		clip-path: polygon(var(--skewTL) 0,100% 0,var(--skewBR) 100%,0 100%);
	}
	&:hover {
		// background: darken($brand-blue,10%);
		&::before {
			transform: translateX(-5%);
		}
	}
}
.hide {
	// display: none;
	visibility: hidden;
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	transform: translateY(calc(var(--navHeight) * -1));
}
h2.special {
	position: relative;
	display: inline-flex;
	padding: 0.25rem 1.75rem 1rem;
	text-transform: uppercase;
	color: white;
	font-size: 3.6rem;
	font-weight: var(--text-semi-bold);
	margin-bottom: 4rem;
	@include media('<md') {
		font-size: 3rem;
	}
	@include media('<xsm') {
		font-size: 2.6rem;
	}
	&::before,
	&::after {
		content: '';
		display: block;
		position: absolute;
	}
	&::before {
		top: 0;
		left: 0;
		width: 4px;
		height: 100%;
		background: var(--brand-blue);
	}
	&::after {
		bottom: 0;
		left: 0;
		height: 4px;
		width: 100%;
		background: var(--brand-blue);
	}
}
.linkUnderline {
	@include media('>=md') {
		position: relative;
		&:hover {
			&::after {
				transform: scale3d(1,1,1);
			}
		}
		&::after {
			content: '';
			display: block;
			position: absolute;
			top: 90%;
			left: 5%;
			width: 90%;
			border-bottom: 2px solid white;
			transform-origin: center;
			transform: scale3d(0,1,1);
			transition: transform 100ms var(--standard-ease);
		}
	}
}
.external-link {
	fill: white;
	height: 1.5rem;
	margin-left: 0.8rem;
}
#header {
	// position: sticky;
	position: fixed;
	width: 100%;

	top: 0;
	z-index: 10;
	background: var(--navBgColor);
	height: var(--navHeight);
	transition: 100ms var(--standard-ease);
	@include media('<md') {
		position: sticky;
		top: 0;
		background: var(--brand-blue) !important;
		.mobile-bg {
			display: block;
		}
		&.nav-open {
			.mobileNav {
				transform: translateX(0);
			}
			.mobile-bg {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	.mobile-bg {
		@include media('>md') {
			display: none;
		}
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		top: var(--navHeight);
		height: calc((var(--vh, 1vh) * 100) - var(--navHeight));
		background: rgba(0,0,0,.4);
		pointer-events: none;
		transition: var(--navSpeed) var(--standard-ease);
		opacity: 0;
		visibility: hidden;
	}
	nav {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row;
		// justify-content: space-between;
		@include media('<lg') {
			position: relative;
			max-width: unset;
			padding-left: 2vw;
			padding-right: 2vw;
		}
		.logo {
			display: flex;
			margin-right: auto;
			img {
				width: 150px;
				@include media('<md') {
					width: 130px;
				}
			}
		}
		#menu-btn {
			@include media('>=md') {
				display: none;
			}
			display: block;
			position: relative;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			// width: 50px;
			// height: 50px;
			// padding: 15px 10px;
			// float: left;
			cursor: pointer;
			transform: rotate(0);
			transition: var(--nav-timing) var(--standard-ease);
			// transition: 4s var(--standard-ease);
			&:focus,
			&:hover {
				outline:0;
			}
			span {
				display: block;
				background: $white;
				height: 4px;
				margin-bottom: 7px;
				width: 38px;
				transition: var(--nav-timing) var(--standard-ease);
				transform-origin: right;
				&:nth-child(1) {
					transform: rotate(0) translate(0) scaleX(1);
				}
				&:nth-child(2) {
					transform: scaleX(.5);
				}
				&:nth-child(3) {
					transform: rotate(0) translate(0) scaleX(.75);
					margin-bottom: 0;
				}
			}
			&.open {
				transform: rotate(180deg);
				span {
					transform-origin: inherit;
					&:nth-child(1) {
						// transform: rotate(-45deg) translate(-10px, -4px) scaleX(.5)
						transform: rotate(-45deg) translate(-14px, -6px) scaleX(.5)
					}
					&:nth-child(2) {
						transform: scaleX(1)
					}
					&:nth-child(3) {
						// transform: rotate(45deg) translate(-10px, 4px) scaleX(.5);
						transform: rotate(45deg) translate(-14px, 6px) scaleX(.5);
					}
				}
			}
		}
		.mobileNav {
			display: flex;
			@include media('>=md') {
				flex-direction: row;
				align-items: center;
				height: 100%;
			}
			@include media('<md') {
				flex-direction: column;
				position: fixed;
				top: var(--navHeight);
				right: 0;
				height: calc((var(--vh, 1vh) * 100) - var(--navHeight));
				width: var(--mobileNavWidth);
				background: darken($brand-blue,15%);
				overflow: hidden;
				z-index: 1;
				padding: 2rem 0;
				overflow: hidden;

				transition: var(--nav-timing) var(--standard-ease);
				transform: translateX(var(--mobileNavWidth));
			}
		}
		ul {
			list-style: none;
			display: flex;
			flex-direction: row;
			padding: 0;
			margin: 0;
			@include media('>=md') {
				height: 100%;
			}
			@include media('<md') {
				flex-direction: column;
				align-items: flex-end;
			}
			&.primary{
				@include media('>=md') {
					margin-right: 2rem;
				}
			}
			&.secondary{
				@include media('<md') {
					flex-direction: row;
					margin-top: 2rem;
					justify-content: flex-end;
				}
			}
			li {
				@include media('>=md') {
					height: 100%;
				}
				a {
					display: flex;
					align-items: center;
					color: white;
					font: {
						size: 2.2rem;
						weight: var(--text-medium);
					};
					text-decoration: none;
					padding: 0 1rem;
					height: 100%;
					transition: 100ms var(--standard-ease);
					@include media('<xl') {
						font-size: 2rem;
					}
					@include media('<lg') {
						padding: 0 0.75rem;
						font-size: 1.8rem;
					}
					@include media('<md') {
						font-size: 2.2rem;
						padding: 1rem 1.5rem;
					}
					&:not(.img) {
						@extend .linkUnderline;
						&::after {
							left: 7.5%;
							width: 85%;
							top: 70%;
						}
					}
					&.img {
						// margin-right: 1rem;
						// margin-top: 1rem;
						@include media('<md') {
							padding: 1rem;
						}
						svg {
							fill: white;
							height: 1em;
						}
						&--discord {
							svg {
								.color {
									fill: transparent;
								}
							}
							// &:hover {
							// 	svg {
							// 		fill: var(--brand-discord);
							// 		.color {
							// 			fill: white;
							// 		}
							// 	}
							// }
						}
						&--raiderio {
							// &:hover {
							// 	svg {
							// 		.color {
							// 			fill: var(--brand-raiderio);
							// 		}
							// 	}
							// }
						}
					}
				}
			}
		}
	}
}
.section {
	position: relative;
	overflow: hidden;
	&--banner {
		// height: 80vh;
		// aspect-ratio: 64/25;
		display: grid;
		place-items: center;
		aspect-ratio: 16/8;
		overflow: hidden;
		@include media('>=md') {
			padding-top: var(--navHeight);
		}
		@include media('<xl') {
			aspect-ratio: 16/10.5;
		}
		@include media('<lg') {
			// aspect-ratio: 16/10.5;
			aspect-ratio: 16/12;
		}
		@include media('<md') {
			aspect-ratio: 1/1;
		}
		@include media('<sm') {
			aspect-ratio: 1/1.25;
		}
		@include media('<xsm') {
			aspect-ratio: 1/1.45;
		}
		// .bg {
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	width: 100%;
		// 	height: 100%;
		// 	img {
		// 		object-fit: cover;
		// 		width: 100%;
		// 		height: 100%;
		// 	}
		// }
		.background {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: block;
			.overlay {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				display: block;
				background: black;
				opacity: 0.4;
				// mix-blend-mode: multiply;
			}
			img,iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				transform: scale(1.2); // up-scaling the video to crop out the YT logo in the bottom-right
				transform-origin: center;
				@include media('<lg') {
					transform: scale(1.4);
				}
				@include media('<md') {
					transform: scale(1.8);
				}
				@include media('<sm') {
					transform: scale(2.3);
				}
				@include media('<xsm') {
					transform: scale(2.6);
				}
			}
			img {
				transform: scale(1);
			}
		}
		.content {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 0 2vw;
			h1 {
				img {
					width: clamp(330px,25vw,400px);
					// width: 400px;
					@include media('<xxl') {
						width: 300px;
					}
					@include media('<xl') {
						width: 270px;
					}
					@include media('<sm') {
						width: 250px;
					}
					@include media('<xs') {
						width: clamp(220px, 25vw,250px);
					}
				}
				.hidden {
					font-size: 0;
					text-indent: 100%;
					white-space: nowrap;
					overflow: hidden;
				}
			}
			h2 {
				color: white;
				font: {
					size: 4rem;
					weight: var(--text-semi-bold);
				};
				margin-bottom: 2rem;
				text-align: center;
				@include media('>=sm') {
					br {
						display: none;
					}
				}
				@include media('<xxl') {
					font-size: 3.6rem;
				}
				@include media('<xl') {
					font-size: 3.3rem;
				}
				@include media('<lg') {
					font-size: 3rem;
				}
				@include media('<xs') {
					font-size: 2.5rem;
				}
				small {
					font-size: 1.5rem;
					transform: translateY(-25%);
					display: inline-block;
				}
			}
		}
	}
	&--prog {
		background: var(--brand-darkestGrey);
		padding: 6rem 0 4rem;
		.raidProg {
			position: relative;
			display: flex;
			flex-direction: row;
			justify-content: center;
			z-index: 1;
			@include media('<xl') {
				flex-wrap: wrap;
			}
			@include media('<md') {
				gap: 1rem 0;
			}
			.boss {
				flex: 0 0 auto;
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				filter: saturate(0);
				@include media('<md') {
					border-bottom: 2px solid #151314;
					// box-shadow: 0 8px 6px -5px rgba(0 0 0 / 0.2);
					// width: 33.33333%;
					&::after {
						content: '';
						display: block;
						position: absolute;
						top: 0;
						left: 10%;
						width: 80%;
						height: 100%;
						box-shadow: 0px 5px 15px -5px rgba(0 0 0 / 1);
						clip-path: polygon(-10% 100%, 110% 100%, 110% 115%, -10% 115%);
					}
				}
				img {
					max-width: 100%;
					@include media('<lg') {
						width: 130px;
					}
					@include media('<md') {
						width: 100px;
					}
					@include media('<sm') {
						// width: 90px;
						width: 120px;
					}
					@include media('<xs') {
						// width: 90px;
						width: 100px;
					}
				}
				&.defeated {
					filter: saturate(100%);
				}
				.info {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					display: grid;
					grid-template-rows: 1fr auto;
				}
					.killDate,
					.video {
						display: block;
						position: relative;
					}
					.killDate {
						&.hidden {
							display: none;
						}
						&--tooltip {
							position: absolute;
							top: 0;
							width: max-content;
							left: 50%;
							transform: translateX(-50%);
							color: white;
							text-align: center;
							font-size: 14px;
							background-color: #111;
							border: 1px solid #222;
							border-radius: 3px;
							box-shadow: 0 1px 8px rgba(0,0,0,.5);
							padding: 5px 10px;
							transition: 150ms ease;

							opacity: 0;
							pointer-events: none;
							user-select: none;

							transform: translate(-50%, -100%);
							@include media('<sm') {
								font-size: 12px;
							}
							&::after {
								content: '';
								display: block;
								position: absolute;
								width: 20px;
								height: 10px;
								// background: black;
								transition: 150ms ease;
								background-color: #111;
								border: 1px solid #222;
								box-shadow: 0 1px 8px rgba(0,0,0,.5);
								top: 100%;
								left: 50%;
								transform: translate(-50%, calc(-100% + 10px));
								clip-path: polygon(0 0, 100% 0, 50% 100%);
							}
						}
						&:hover {
							.killDate--tooltip {
								opacity: 1;
								pointer-events: all;
								user-select: all;
								transform: translate(-50%, calc(-100% - 10px));
							}
						}
					}
					.video {
						// position: absolute;
						// left: 50%;
						// bottom: 0;
						// transform: translateX(-50%);
						// width: 4rem;
						// aspect-ratio: 9/8;
						display: flex;
						align-items: center;
						justify-content: center;
						width: 100%;
						height: 3rem;
						margin-bottom: 2px;
						// background: var(--yt) no-repeat center/contain;
						@include media('<md') {
							height: 2.4rem;
						}
						img {
							height: 20px;
							width: auto;
							// box-shadow: 0 0 15px 5px rgba(0 0 0 / .75);
							filter: drop-shadow(0 0 5px #000);
						}
					}
			}
		}
		.iframe--wrap {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			z-index: 2;
			@keyframes progBar {
				to { transform: scaleX(1); }
			}
			#refresh {
				position: relative;
				color: lighten($brand-grey, 15%);
				font-size: 1.4rem;
				margin-top: 1rem;
				@include media('<xsm') {
					font-size: 1.2rem;
				}
				&::before,
				&::after {
					content: '';
					display: block;
					position: absolute;
					bottom: 100%;
					left: 0;
					width: 100%;
					height: 2px;
					background: var(--brand-blue);
				}
				&::before {
					background: lighten($brand-grey, 10%);
				}
				&::after {
					background: var(--brand-blue);
					transform: scaleX(0);
					transform-origin: left;
					animation: progBar var(--refreshRate) linear infinite;
				}
			}
		}
		#loading {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			display: inline-block;
			width: 50px;
			height: 50px;
			border: 3px solid rgba(255,255,255,.3);
			border-radius: 50%;
			border-top-color: #fff;
			animation: spin 1s ease-in-out infinite;
		}
		@keyframes spin {
			to { transform: translate(-50%,-50%) rotate(360deg); }
		}
		iframe {
			width: 100%;
			position: relative;
			// aspect-ratio: 3.1 / 1;
		}
	}
	&--ce {
		background: var(--brand-darkestGrey);
		padding: 6rem 0 8rem;
		@include media('<xxl') {
			padding: 6rem 0 6rem;
		}
		@include media('<sm') {
			padding: 6rem 0 4rem;
		}
		.ce-grid {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 5rem 2rem;
			@include media('<lg') {
				grid-template-columns: 1fr 1fr;
			}
			@include media('<md') {
				grid-gap: 4rem 1rem;
			}
			@include media('<sm') {
				grid-gap: 3rem 0.25rem;
			}
			@include media('<xsm') {
				grid-template-columns: 1fr;
				padding: 0 calc(2vw + 3vw);
			}
			.block {
				--skewAngle: 10%;
				--skewTL: calc(0% + var(--skewAngle));
				--skewBR: calc(100% - var(--skewAngle));
				position: relative;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				aspect-ratio: 1/.9;
				clip-path: polygon(var(--skewTL) 0,100% 0,var(--skewBR) 100%, 0 100%);
				text-decoration: none;
				&:hover {
					.bg {
						.overlay {
							opacity: 0;
						}
						img {
							transform: scale3d(1.1,1.1,1);
						}
					}
				}
				&.wip {
					.bg {
						img {
							filter: saturate(0%);
						}
					}
				}
				.bg {
					img,.overlay {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						transition: all 600ms var(--decelerate-ease);
					}
					img {
						object-fit: cover;
						transform: scale3d(1,1,1);
					}
					.overlay {
						background: rgba(black,0.5);
						width: 110%;
						height: 110%;
						left: -5%;
						top: -5%;
					}
				}
				
				h3,time,.rank {
					--throw: 3px;
					--nt: calc(var(--throw) * -1);
					--spread: 4px;
					--color: rgba(0 0 0 / 0.6);
					color: white;
					position: relative;
					text-shadow: var(--throw) var(--throw) var(--spread) var(--color),
								var(--nt) var(--throw) var(--spread) var(--color),
								var(--throw) var(--nt) var(--spread) var(--color),
								var(--nt) var(--nt) var(--spread) var(--color);
				}
				h3 {
					font-size: 3.2rem;
					margin: 0;
					@include media('<md') {
						font-size: 2.9rem;
					}
					@include media('<sm','>=xsm') {
						font-size: 2.5rem;
					}
					&::after {
						content: '';
						display: block;
						width: 80%;
						transform: translateX(10%);
						margin: 1rem 0 1.5rem;
						border-bottom: 4px solid var(--brand-blue);
					}
				}
				time {
					font-size: 2.4rem;
					font-weight: var(--text-semi-bold);
					@include media('<md') {
						font-size: 2.1rem;
					}
					@include media('<sm','>=xsm') {
						font-size: 1.9rem;
					}
				}
				.rank {
					display: flex;
					align-items: center;
					font: {
						size: 1.6rem;
						weight: var(--text-bold);
					}
					&::before,
					&::after {
						content: '';
						display: inline-flex;
						width: 1.5rem;
						height: 2px;
						background: white;
						margin: 0 0.6rem;
					}
				}
			}
		}
	}
	&--streams {
		background: var(--brand-darkestGrey);
		padding: 6rem 0;
		@include media('<xl') {
			padding: 4rem 0 6rem;
		}
		@include media('<lg') {
			padding: 4rem 0;
		}
		.streamers {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 2rem;
			&:not(:empty) {
				margin-bottom: 4rem;
			}
			@include media('<xl') {
				grid-template-columns: repeat(3, 1fr);
			}
			@include media('<md') {
				grid-template-columns: repeat(2, 1fr);
			}
			.streamer {
				position: relative;
				display: flex;
				border: 3px solid transparent;
				padding: 1.5rem 2rem;
				align-items: center;
				justify-content: space-between;
				cursor: pointer;
				display: grid;
				grid-template-columns: 1fr auto;
				@include media('<xxl') {
					padding: 1.5rem;
				}
				@include media('<xsm') {
					padding: 1.5rem 1rem;
				}
				&.active,
				&:hover {
					border-color: var(--brand-blue);
				}
				&--preview {
					position: absolute;
					object-fit: cover;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					opacity: 0.6;
				}
				&--name,
				&--views {
					--throw: 3px;
					--nt: calc(var(--throw) * -1);
					--spread: 4px;
					--color: rgba(0 0 0 / 0.6);
					color: white;
					position: relative;
					margin: 0;
					text-shadow: var(--throw) var(--throw) var(--spread) var(--color),
								var(--nt) var(--throw) var(--spread) var(--color),
								var(--throw) var(--nt) var(--spread) var(--color),
								var(--nt) var(--nt) var(--spread) var(--color);
				}
				&--name {
					font-size: 2.2rem;
					text-overflow: ellipsis;
					overflow: hidden;
					@include media('<lg') {
						font-size: 2rem;
					}
					@include media('<sm') {
						font-size: 1.8rem;
					}
					@include media('<sm') {
						font-size: 1.6rem;
					}
					@include media('<xs') {
						font-size: 1.5rem;
					}
				}
				&--views {
					font-size: 1.6rem;
					padding-left: 1rem;
					@include media('<xsm') {
						font-size: 1.3rem;
					}
					@keyframes flash {
						from {
							opacity: 0.5;
						}
						to {
							opacity: 1;
						}
					}
					&::before {
						--size: 1rem;
						content: '';
						display: inline-block;
						width: var(--size);
						height: var(--size);
						background: red;
						border-radius: 50%;
						// animation: flash 300ms var(--standard-ease);
						animation-name: flash;
						animation-duration: 500ms;
						animation-timing-function: linear;
						animation-iteration-count: infinite;
						animation-direction: alternate;
						@include media('<xsm') {
							--size: .9rem;
						}
					}
				}
			}
		}
		#twitch {
			position: relative;
			// padding-bottom: 56.25%; /* 16:9 */
			aspect-ratio: 16/9;
			width: 100%;
			margin: 0 auto 3rem;
			background: linear-gradient(45deg, rgba(52,131,236,1) 0%, rgba(100,81,183,1) 100%);
			display: grid;
			place-content: center;
		}
		#twitch object, #twitch iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		.noStreams {
			color: #fff;
			font-size: 4rem;
			display: flex;
			align-items: center;
			font-size: clamp(2rem, 3vw, 6rem);
			font-weight: var(--text-regular);
			img {
				width: 64px;
				margin: 0 2rem;
				&:last-of-type {
					transform: scaleX(-1);
				}
				@include media('<sm') {
					width: 50px;
				}
				@include media('<xsm') {
					width: 40px;
				}
			}
		}
	}
}
#footer {
	background: var(--brand-darkGrey);
	padding: 6rem 0 0;
	.grid {
		display: grid;
		grid-template-columns: auto 1fr;
		grid-gap: 6rem;
		@include media('<md') {
			grid-template-columns: 1fr 1fr;
		}
		@include media('<xsm') {
			display: flex;
			flex-direction: column-reverse;
			align-items: center;
		}
	}
	.logo {
		width: 330px;
		@include media('<md','>=xsm') {
			// width: 200px;
			width: 100%;
		}
		@include media('<xsm') {
			width: 230px;
		}
	}
	.footer-nav {
		list-style: none;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		margin: 0;
		padding: 8.5rem 0 0;
		@include media('<md','>=xsm') {
			// padding: 4.8rem 0 0;
			padding: 24% 0 0;
		}
		@include media('<xsm') {
			padding: 0;
			text-align: center;
		}
		li {
			a {
				position: relative;
				padding: 0.5rem;
				display: inline-flex;
				align-items: center;
				color: white;
				text-decoration: none;
				font: {
					size: 2.2rem;
					weight: var(--text-semi-bold);
				};
				&::before {
					content: '';
					position: absolute;
					top: 12px;
					right: 0;
					height: 1px;
					width: 500px;
					// background: red;
				}
				&:not(.img) {
					@extend .linkUnderline;
				}
				&.img {
					margin-top: 1rem;
					@include media('>=xsm') {
						&:not(:last-of-type) {
							margin-right: 1rem;
						}
					}
					svg {
						fill: white;
						height: 3rem;
					}
					&--discord {
						svg {
							.color {
								fill: transparent;
							}
						}
						&:hover {
							svg {
								fill: var(--brand-discord);
								.color {
									fill: white;
								}
							}
						}
					}
					&--raiderio {
						&:hover {
							svg {
								.color {
									fill: var(--brand-raiderio);
								}
							}
						}
					}
				}
			}
		}
	}
	.copyright {
		font-size: 1.6rem;
		color: white;
		border-top: 2px solid var(--brand-grey);
		padding: 2rem 0 1.5rem;
		margin-top: 5rem;
		@include media('<xsm') {
			text-align: center;
			font-size: 1.4rem;
		}
	}
}



