/**
 *
 * --------------------------------
 *  CSS Style
 * -------------------------------
 *
 */
:root {
  --black: #212427;
  --white: #fff;
  --brand-blue: #3483ec;
  --brand-purple: #6451b7;
  --brand-grey: #666666;
  --brand-darkGrey: #4d4d4d;
  --brand-darkestGrey: #1a1a1a;
  --brand-discord: #5865F2;
  --brand-raiderio: #e5a024;
  --font: Cabin, sans-serif, -apple-system, blinkmacsystemfont, Segoe UI, roboto, helvetica, arial, sans-serif;
  --font-system: -apple-system, blinkmacsystemfont, Segoe UI, roboto, helvetica, arial, sans-serif;
  --text-size: 2rem;
  --text-color: #212427;
  --text-regular: 400;
  --text-medium: 500;
  --text-semi-bold: 600;
  --text-bold: 700;
  --nav-timing: 200ms;
  --standard-ease: cubic-bezier(0.4, 0, 0.2, 1);
  --decelerate-ease: cubic-bezier(0, 0, 0.2, 1);
  --accelerate-ease: cubic-bezier(0.4, 0, 1, 1);
  --yt: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 102.15 71.84'%3E%3Crect fill='%23fff' x='28.28' y='13.13' width='45.59' height='45.59'/%3E%3Cpath fill='%23ff0000' d='m100.09,11.23c.87,3.37,1.5,8.48,1.87,15.34l.19,9.35-.19,9.35c-.37,6.98-1,12.16-1.87,15.53-.62,2.12-1.75,3.99-3.37,5.61-1.62,1.62-3.55,2.74-5.8,3.37-3.24.87-10.85,1.5-22.83,1.87l-17.03.19-17.02-.19c-11.97-.37-19.58-1-22.83-1.87-2.25-.62-4.18-1.75-5.8-3.37-1.62-1.62-2.74-3.49-3.37-5.61-.87-3.37-1.5-8.54-1.87-15.53l-.19-9.35c0-2.74.06-5.86.19-9.35.37-6.86,1-11.97,1.87-15.34.62-2.24,1.75-4.18,3.37-5.8,1.62-1.62,3.55-2.74,5.8-3.37,3.24-.87,10.85-1.5,22.83-1.87l17.02-.19,17.03.19c11.97.37,19.58,1,22.83,1.87,2.25.62,4.18,1.75,5.8,3.37,1.62,1.62,2.74,3.55,3.37,5.8Zm-59.49,40.04l26.75-15.34-26.75-15.15v30.5Z'/%3E%3C/svg%3E");
}

/*
Dropshadows, based on Google's Material Design
	Reference: https://material.io/design/environment/light-shadows.html#shadows
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --navSpeed: 200ms;
  --mobileNavWidth: 200px;
}

body {
  --navHeight: 8rem;
  --navBgColor: rgba($brand-blue, 0);
  font-family: var(--font);
  font-size: var(--text-size);
  font-weight: var(--text-regular);
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  width: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}
@media (max-width: 767px) {
  body {
    --navHeight: 6rem;
  }
}
@media (max-width: 575px) {
  body {
    font-size: 1.8rem;
  }
}
@media (max-width: 479px) {
  body {
    --navHeight: 5.5rem;
  }
}
@media (max-width: 379px) {
  body {
    font-size: 1.6rem;
  }
}
body.scrolled {
  --bg: var(--brand-blue);
}
body .navAnimate {
  transition: var(--nav-timing) var(--standard-ease);
}
body.nav-open .navAnimate {
  transform: translateX(calc(var(--mobileNavWidth) * -1));
}
@media (max-width: 767px) {
  .fancybox-slide {
    padding: 44px 22px;
  }
}
@media (max-width: 575px) {
  .fancybox-slide {
    padding: 44px 0;
  }
}

[data-tooltip]::before, [data-tooltip]::after {
  display: block;
  position: absolute;
  color: white;
  font-size: 14px;
  transition: 150ms ease;
  opacity: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-color: #111;
  border: 1px solid #222;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}
@media (max-width: 575px) {
  [data-tooltip]::before, [data-tooltip]::after {
    font-size: 12px;
  }
}
[data-tooltip]::before:hover, [data-tooltip]::after:hover {
  pointer-events: all;
}
[data-tooltip]::before {
  content: attr(data-tooltip);
  padding: 5px 10px;
  border-radius: 3px;
  width: -moz-max-content;
  width: max-content;
}
@media (max-width: 575px) {
  [data-tooltip]::before {
    padding: 4px 6px;
  }
}
[data-tooltip]::after {
  content: "";
  width: 20px;
  height: 10px;
}
[data-tooltip][data-position=top]::before {
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
}
[data-tooltip][data-position=top]::after {
  top: 0;
  left: 50%;
  transform: translate(-50%, calc(-100% + 10px));
  -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%);
          clip-path: polygon(0 0, 100% 0, 50% 100%);
}
[data-tooltip][data-position=top]:hover::before, [data-tooltip][data-position=top]:hover::after {
  opacity: 1;
}
[data-tooltip][data-position=top]:hover::before {
  transform: translate(-50%, calc(-100% - 10px));
}
[data-tooltip][data-position=top]:hover::after {
  transform: translate(-50%, -100%);
}
[data-tooltip][data-position=bottom]::before {
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0px);
}
[data-tooltip][data-position=bottom]::after {
  top: 100%;
  left: 50%;
  transform: translate(-50%, -10px);
  -webkit-clip-path: polygon(50% 0, 100% 100%, 0 100%);
          clip-path: polygon(50% 0, 100% 100%, 0 100%);
}
[data-tooltip][data-position=bottom]:hover::before, [data-tooltip][data-position=bottom]:hover::after {
  opacity: 1;
}
[data-tooltip][data-position=bottom]:hover::before {
  transform: translate(-50%, 10px);
}
[data-tooltip][data-position=bottom]:hover::after {
  transform: translate(-50%, 0);
}

.cta {
  --skewAngle: 5%;
  --skewTL: calc(var(--skewAngle));
  --skewBR: calc(100% - var(--skewAngle));
  position: relative;
  color: white;
  text-transform: uppercase;
  font-weight: var(--text-bold);
  font-size: 2.2rem;
  text-decoration: none;
  background: var(--brand-blue);
  padding: 1rem 2rem;
  -webkit-clip-path: polygon(var(--skewTL) 0, 100% 0, var(--skewBR) 100%, 0 100%);
          clip-path: polygon(var(--skewTL) 0, 100% 0, var(--skewBR) 100%, 0 100%);
  transform: background 100ms var(--standard-ease);
  overflow: hidden;
}
@media (max-width: 1199px) {
  .cta {
    padding: 0.9rem 2rem;
  }
}
@media (max-width: 991px) {
  .cta {
    font-size: 2rem;
  }
}
.cta::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 120%;
  background: var(--brand-purple);
  background: linear-gradient(95deg, var(--brand-purple) 85%, var(--brand-blue) 100%);
  z-index: -1;
  transform-origin: left;
  transition: transform 200ms var(--standard-ease);
  transform: translateX(-120%);
  -webkit-clip-path: polygon(var(--skewTL) 0, 100% 0, var(--skewBR) 100%, 0 100%);
          clip-path: polygon(var(--skewTL) 0, 100% 0, var(--skewBR) 100%, 0 100%);
}
.cta:hover::before {
  transform: translateX(-5%);
}

.hide {
  visibility: hidden;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  transform: translateY(calc(var(--navHeight) * -1));
}

h2.special {
  position: relative;
  display: inline-flex;
  padding: 0.25rem 1.75rem 1rem;
  text-transform: uppercase;
  color: white;
  font-size: 3.6rem;
  font-weight: var(--text-semi-bold);
  margin-bottom: 4rem;
}
@media (max-width: 767px) {
  h2.special {
    font-size: 3rem;
  }
}
@media (max-width: 479px) {
  h2.special {
    font-size: 2.6rem;
  }
}
h2.special::before, h2.special::after {
  content: "";
  display: block;
  position: absolute;
}
h2.special::before {
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background: var(--brand-blue);
}
h2.special::after {
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background: var(--brand-blue);
}

@media (min-width: 768px) {
  .linkUnderline, #footer .footer-nav li a:not(.img), #header nav ul li a:not(.img) {
    position: relative;
  }
  .linkUnderline:hover::after, #footer .footer-nav li a:hover:not(.img)::after, #header nav ul li a:hover:not(.img)::after {
    transform: scale3d(1, 1, 1);
  }
  .linkUnderline::after, #footer .footer-nav li a:not(.img)::after, #header nav ul li a:not(.img)::after {
    content: "";
    display: block;
    position: absolute;
    top: 90%;
    left: 5%;
    width: 90%;
    border-bottom: 2px solid white;
    transform-origin: center;
    transform: scale3d(0, 1, 1);
    transition: transform 100ms var(--standard-ease);
  }
}

.external-link {
  fill: white;
  height: 1.5rem;
  margin-left: 0.8rem;
}

#header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  background: var(--navBgColor);
  height: var(--navHeight);
  transition: 100ms var(--standard-ease);
}
@media (max-width: 767px) {
  #header {
    position: sticky;
    top: 0;
    background: var(--brand-blue) !important;
  }
  #header .mobile-bg {
    display: block;
  }
  #header.nav-open .mobileNav {
    transform: translateX(0);
  }
  #header.nav-open .mobile-bg {
    opacity: 1;
    visibility: visible;
  }
}
#header .mobile-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  top: var(--navHeight);
  height: calc(var(--vh, 1vh) * 100 - var(--navHeight));
  background: rgba(0, 0, 0, 0.4);
  pointer-events: none;
  transition: var(--navSpeed) var(--standard-ease);
  opacity: 0;
  visibility: hidden;
}
@media (min-width: 769px) {
  #header .mobile-bg {
    display: none;
  }
}
#header nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
@media (max-width: 991px) {
  #header nav {
    position: relative;
    max-width: unset;
    padding-left: 2vw;
    padding-right: 2vw;
  }
}
#header nav .logo {
  display: flex;
  margin-right: auto;
}
#header nav .logo img {
  width: 150px;
}
@media (max-width: 767px) {
  #header nav .logo img {
    width: 130px;
  }
}
#header nav #menu-btn {
  display: block;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transform: rotate(0);
  transition: var(--nav-timing) var(--standard-ease);
}
@media (min-width: 768px) {
  #header nav #menu-btn {
    display: none;
  }
}
#header nav #menu-btn:focus, #header nav #menu-btn:hover {
  outline: 0;
}
#header nav #menu-btn span {
  display: block;
  background: #fff;
  height: 4px;
  margin-bottom: 7px;
  width: 38px;
  transition: var(--nav-timing) var(--standard-ease);
  transform-origin: right;
}
#header nav #menu-btn span:nth-child(1) {
  transform: rotate(0) translate(0) scaleX(1);
}
#header nav #menu-btn span:nth-child(2) {
  transform: scaleX(0.5);
}
#header nav #menu-btn span:nth-child(3) {
  transform: rotate(0) translate(0) scaleX(0.75);
  margin-bottom: 0;
}
#header nav #menu-btn.open {
  transform: rotate(180deg);
}
#header nav #menu-btn.open span {
  transform-origin: inherit;
}
#header nav #menu-btn.open span:nth-child(1) {
  transform: rotate(-45deg) translate(-14px, -6px) scaleX(0.5);
}
#header nav #menu-btn.open span:nth-child(2) {
  transform: scaleX(1);
}
#header nav #menu-btn.open span:nth-child(3) {
  transform: rotate(45deg) translate(-14px, 6px) scaleX(0.5);
}
#header nav .mobileNav {
  display: flex;
}
@media (min-width: 768px) {
  #header nav .mobileNav {
    flex-direction: row;
    align-items: center;
    height: 100%;
  }
}
@media (max-width: 767px) {
  #header nav .mobileNav {
    flex-direction: column;
    position: fixed;
    top: var(--navHeight);
    right: 0;
    height: calc(var(--vh, 1vh) * 100 - var(--navHeight));
    width: var(--mobileNavWidth);
    background: #125dc1;
    overflow: hidden;
    z-index: 1;
    padding: 2rem 0;
    overflow: hidden;
    transition: var(--nav-timing) var(--standard-ease);
    transform: translateX(var(--mobileNavWidth));
  }
}
#header nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  #header nav ul {
    height: 100%;
  }
}
@media (max-width: 767px) {
  #header nav ul {
    flex-direction: column;
    align-items: flex-end;
  }
}
@media (min-width: 768px) {
  #header nav ul.primary {
    margin-right: 2rem;
  }
}
@media (max-width: 767px) {
  #header nav ul.secondary {
    flex-direction: row;
    margin-top: 2rem;
    justify-content: flex-end;
  }
}
#header nav ul.secondary a {
  padding: 0.8rem;
}
@media (min-width: 768px) {
  #header nav ul li {
    height: 100%;
  }
}
#header nav ul li a {
  display: flex;
  align-items: center;
  color: white;
  font-size: 2.2rem;
  font-weight: var(--text-medium);
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  transition: 100ms var(--standard-ease);
}
@media (max-width: 1199px) {
  #header nav ul li a {
    font-size: 2rem;
  }
}
@media (max-width: 991px) {
  #header nav ul li a {
    padding: 0 0.75rem;
    font-size: 1.8rem;
  }
}
@media (max-width: 767px) {
  #header nav ul li a {
    font-size: 2.2rem;
    padding: 1rem 1.5rem;
  }
}
#header nav ul li a:not(.img)::after {
  left: 7.5%;
  width: 85%;
  top: 70%;
}
@media (max-width: 767px) {
  #header nav ul li a.img {
    padding: 1rem;
  }
}
#header nav ul li a.img svg {
  fill: white;
  height: 1.1em;
}
#header nav ul li a.img--discord svg .color {
  fill: transparent;
}
#header nav ul li a.img--wcl svg .color {
  fill: #fff;
}
.section {
  position: relative;
  overflow: hidden;
}
.section--banner {
  display: grid;
  place-items: center;
  aspect-ratio: 16/8;
  overflow: hidden;
}
@media (min-width: 768px) {
  .section--banner {
    padding-top: var(--navHeight);
  }
}
@media (max-width: 1199px) {
  .section--banner {
    aspect-ratio: 16/10.5;
  }
}
@media (max-width: 991px) {
  .section--banner {
    aspect-ratio: 16/12;
  }
}
@media (max-width: 767px) {
  .section--banner {
    aspect-ratio: 1/1;
  }
}
@media (max-width: 575px) {
  .section--banner {
    aspect-ratio: 1/1.25;
  }
}
@media (max-width: 479px) {
  .section--banner {
    aspect-ratio: 1/1.45;
  }
}
.section--banner .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}
.section--banner .background .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: black;
  opacity: 0.4;
}
.section--banner .background img, .section--banner .background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(1.2);
  transform-origin: center;
}
@media (max-width: 991px) {
  .section--banner .background img, .section--banner .background iframe {
    transform: scale(1.4);
  }
}
@media (max-width: 767px) {
  .section--banner .background img, .section--banner .background iframe {
    transform: scale(1.8);
  }
}
@media (max-width: 575px) {
  .section--banner .background img, .section--banner .background iframe {
    transform: scale(2.3);
  }
}
@media (max-width: 479px) {
  .section--banner .background img, .section--banner .background iframe {
    transform: scale(2.6);
  }
}
.section--banner .background img {
  transform: scale(1);
}
.section--banner .content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2vw;
}
.section--banner .content h1 img {
  width: clamp(330px, 25vw, 400px);
}
@media (max-width: 1399px) {
  .section--banner .content h1 img {
    width: 300px;
  }
}
@media (max-width: 1199px) {
  .section--banner .content h1 img {
    width: 270px;
  }
}
@media (max-width: 575px) {
  .section--banner .content h1 img {
    width: 250px;
  }
}
@media (max-width: 379px) {
  .section--banner .content h1 img {
    width: clamp(220px, 25vw, 250px);
  }
}
.section--banner .content h1 .hidden {
  font-size: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.section--banner .content h2 {
  color: white;
  font-size: 4rem;
  font-weight: var(--text-semi-bold);
  margin-bottom: 2rem;
  text-align: center;
}
@media (min-width: 576px) {
  .section--banner .content h2 br {
    display: none;
  }
}
@media (max-width: 1399px) {
  .section--banner .content h2 {
    font-size: 3.6rem;
  }
}
@media (max-width: 1199px) {
  .section--banner .content h2 {
    font-size: 3.3rem;
  }
}
@media (max-width: 991px) {
  .section--banner .content h2 {
    font-size: 3rem;
  }
}
@media (max-width: 379px) {
  .section--banner .content h2 {
    font-size: 2.5rem;
  }
}
.section--banner .content h2 small {
  font-size: 1.5rem;
  transform: translateY(-25%);
  display: inline-block;
}
.section--prog {
  background: var(--brand-darkestGrey);
  padding: 6rem 0 4rem;
}
.section--prog .raidProg {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 1;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .section--prog .raidProg {
    gap: 1rem 0;
  }
}
.section--prog .raidProg .boss {
  flex: 0 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: saturate(0);
  transition: filter 150ms ease;
}
@media (max-width: 767px) {
  .section--prog .raidProg .boss {
    border-bottom: 2px solid #151314;
  }
  .section--prog .raidProg .boss::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    height: 100%;
    box-shadow: 0px 5px 15px -5px rgb(0, 0, 0);
    -webkit-clip-path: polygon(-10% 100%, 110% 100%, 110% 115%, -10% 115%);
            clip-path: polygon(-10% 100%, 110% 100%, 110% 115%, -10% 115%);
  }
}
.section--prog .raidProg .boss:hover {
  filter: saturate(0.75);
}
.section--prog .raidProg .boss img {
  max-width: 100%;
}
@media (max-width: 991px) {
  .section--prog .raidProg .boss img {
    width: 130px;
  }
}
@media (max-width: 767px) {
  .section--prog .raidProg .boss img {
    width: 100px;
  }
}
@media (max-width: 575px) {
  .section--prog .raidProg .boss img {
    width: 120px;
  }
}
@media (max-width: 379px) {
  .section--prog .raidProg .boss img {
    width: 100px;
  }
}
.section--prog .raidProg .boss.defeated {
  filter: saturate(100%);
  cursor: pointer;
}
.section--prog .raidProg .boss .info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}
.section--prog .raidProg .boss .killDate,
.section--prog .raidProg .boss .video {
  display: block;
  position: relative;
}
.section--prog .raidProg .boss .killDate.hidden {
  display: none;
}
.section--prog .raidProg .boss .killDate--tooltip {
  position: absolute;
  top: 0;
  width: -moz-max-content;
  width: max-content;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-align: center;
  font-size: 14px;
  background-color: #111;
  border: 1px solid #222;
  border-radius: 3px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  transition: 150ms ease;
  opacity: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transform: translate(-50%, -100%);
}
@media (max-width: 575px) {
  .section--prog .raidProg .boss .killDate--tooltip {
    font-size: 12px;
  }
}
.section--prog .raidProg .boss .killDate--tooltip::after {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 10px;
  background-color: #111;
  border: 1px solid #222;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  top: 100%;
  left: 50%;
  transition: 150ms ease;
  transform: translate(-50%, calc(-100% + 10px));
  -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%);
          clip-path: polygon(0 0, 100% 0, 50% 100%);
}
.section--prog .raidProg .boss .killDate--tooltip span {
  opacity: 0.45;
}
.section--prog .raidProg .boss .killDate:hover .killDate--tooltip {
  opacity: 1;
  pointer-events: all;
  -webkit-user-select: all;
     -moz-user-select: all;
          user-select: all;
  transform: translate(-50%, calc(-100% - 10px));
}
.section--prog .raidProg .boss .video {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3rem;
  margin-bottom: 2px;
}
@media (max-width: 767px) {
  .section--prog .raidProg .boss .video {
    height: 2.4rem;
  }
}
.section--prog .raidProg .boss .video img {
  height: 20px;
  width: auto;
  filter: drop-shadow(0 0 5px #000);
}
.section--prog .iframe--wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 2;
}
@keyframes progBar {
  to {
    transform: scaleX(1);
  }
}
.section--prog #refresh {
  position: relative;
  color: #8c8c8c;
  font-size: 1.4rem;
  margin: 2rem 1.4rem 0 auto;
}
@media (max-width: 479px) {
  .section--prog #refresh {
    font-size: 1.2rem;
  }
}
.section--prog #refresh::before, .section--prog #refresh::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--brand-blue);
}
.section--prog #refresh::before {
  background: gray;
}
.section--prog #refresh::after {
  background: var(--brand-blue);
  transform: scaleX(0);
  transform-origin: left;
  animation: progBar var(--refreshRate) linear infinite;
}
.section--prog #loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.section--prog iframe {
  width: 100%;
  position: relative;
}
.section--prog .wcl {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  padding: 2rem 1rem 1rem;
  border: 2px solid black;
  background: linear-gradient(0deg, #000, #272a2f);
}
.section--prog .wcl h2 {
  font-size: 3.5rem;
}
@media (max-width: 991px) {
  .section--prog .wcl h2 {
    font-size: 3.2rem;
  }
}
@media (max-width: 767px) {
  .section--prog .wcl h2 {
    font-size: 3rem;
  }
}
@media (max-width: 767px) {
  .section--prog .wcl h2 {
    font-size: 2.6rem;
  }
}
@media (max-width: 479px) {
  .section--prog .wcl h2 {
    font-size: 2.4rem;
  }
}
@media (max-width: 479px) {
  .section--prog .wcl h2 {
    font-size: 2.2rem;
  }
}
.section--prog .wcl h3 {
  opacity: 0.8;
}
.section--prog .wcl--canvas_wrap {
  width: 100%;
  aspect-ratio: 3/1;
}
@media (max-width: 1199px) {
  .section--prog .wcl--canvas_wrap {
    aspect-ratio: 2/1;
  }
}
@media (max-width: 767px) {
  .section--prog .wcl--canvas_wrap {
    aspect-ratio: 1.5/1;
  }
}
.section--prog .wcl #wcl_chart {
  position: relative;
}
.section--ce {
  background: var(--brand-darkestGrey);
  padding: 6rem 0 8rem;
}
@media (max-width: 1399px) {
  .section--ce {
    padding: 6rem 0 6rem;
  }
}
@media (max-width: 575px) {
  .section--ce {
    padding: 6rem 0 4rem;
  }
}
.section--ce .ce-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5rem 2rem;
}
@media (max-width: 991px) {
  .section--ce .ce-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 767px) {
  .section--ce .ce-grid {
    grid-gap: 4rem 1rem;
  }
}
@media (max-width: 575px) {
  .section--ce .ce-grid {
    grid-gap: 3rem 0.25rem;
  }
}
@media (max-width: 479px) {
  .section--ce .ce-grid {
    grid-template-columns: 1fr;
    padding: 0 5vw;
  }
}
.section--ce .ce-grid .block {
  --skewAngle: 10%;
  --skewTL: calc(0% + var(--skewAngle));
  --skewBR: calc(100% - var(--skewAngle));
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  aspect-ratio: 1/0.9;
  padding: 33.33333% 0 0rem;
  -webkit-clip-path: polygon(var(--skewTL) 0, 100% 0, var(--skewBR) 100%, 0 100%);
          clip-path: polygon(var(--skewTL) 0, 100% 0, var(--skewBR) 100%, 0 100%);
  text-decoration: none;
}
@media (max-width: 1399px) {
  .section--ce .ce-grid .block {
    padding: 25% 0 0rem;
  }
}
.section--ce .ce-grid .block:hover .bg img {
  transform: scale3d(1.1, 1.1, 1);
}
.section--ce .ce-grid .block:hover .links {
  transform: translateY(0);
  opacity: 1;
  transition: 200ms var(--decelerate-ease);
}
.section--ce .ce-grid .block.wip .bg img {
  filter: saturate(0%);
}
.section--ce .ce-grid .block .bg img, .section--ce .ce-grid .block .bg .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 600ms var(--decelerate-ease);
}
.section--ce .ce-grid .block .bg img {
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale3d(1, 1, 1);
}
.section--ce .ce-grid .block .bg .overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 110%;
  height: 110%;
  left: -5%;
  top: -5%;
}
.section--ce .ce-grid .block h3, .section--ce .ce-grid .block time, .section--ce .ce-grid .block .rank {
  --throw: 3px;
  --nt: calc(var(--throw) * -1);
  --spread: 4px;
  --color: rgba(0 0 0 / 0.6);
  color: white;
  position: relative;
  text-shadow: var(--throw) var(--throw) var(--spread) var(--color), var(--nt) var(--throw) var(--spread) var(--color), var(--throw) var(--nt) var(--spread) var(--color), var(--nt) var(--nt) var(--spread) var(--color);
}
.section--ce .ce-grid .block h3 {
  font-size: 3.2rem;
  margin: 0;
}
@media (max-width: 1399px) {
  .section--ce .ce-grid .block h3 {
    font-size: 3rem;
  }
}
@media (max-width: 767px) {
  .section--ce .ce-grid .block h3 {
    font-size: 2.5rem;
  }
}
@media (max-width: 575px) and (min-width: 480px) {
  .section--ce .ce-grid .block h3 {
    font-size: 2.5rem;
  }
}
@media (max-width: 479px) {
  .section--ce .ce-grid .block h3 {
    font-size: 2.8rem;
  }
}
.section--ce .ce-grid .block h3::after {
  content: "";
  display: block;
  width: 80%;
  transform: translateX(10%);
  margin: 1rem 0 1.5rem;
  border-bottom: 4px solid var(--brand-blue);
}
@media (max-width: 767px) and (min-width: 480px) {
  .section--ce .ce-grid .block h3::after {
    margin: 0.5rem 0 1rem;
  }
}
.section--ce .ce-grid .block time {
  font-size: 2.4rem;
  font-weight: var(--text-semi-bold);
}
@media (max-width: 1399px) {
  .section--ce .ce-grid .block time {
    font-size: 2.2rem;
  }
}
@media (max-width: 767px) {
  .section--ce .ce-grid .block time {
    font-size: 1.9rem;
  }
}
@media (max-width: 575px) and (min-width: 480px) {
  .section--ce .ce-grid .block time {
    font-size: 1.9rem;
  }
}
@media (max-width: 479px) {
  .section--ce .ce-grid .block time {
    font-size: 2rem;
  }
}
.section--ce .ce-grid .block .rank {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: var(--text-bold);
}
@media (max-width: 1399px) {
  .section--ce .ce-grid .block .rank {
    font-size: 1.4rem;
  }
}
@media (max-width: 479px) {
  .section--ce .ce-grid .block .rank {
    font-size: 1.6rem;
  }
}
.section--ce .ce-grid .block .rank::before, .section--ce .ce-grid .block .rank::after {
  content: "";
  display: inline-flex;
  width: 1.5rem;
  height: 2px;
  background: white;
  margin: 0 0.6rem;
}
.section--ce .ce-grid .block .links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  transform: translateY(200%);
  opacity: 0;
  transition: 200ms var(--standard-ease);
}
@media (max-width: 1199px) {
  .section--ce .ce-grid .block .links {
    margin-top: 0.5rem;
  }
}
.section--ce .ce-grid .block .links a {
  position: relative;
  display: flex;
  background: rgba(0, 0, 0, 0.75);
  color: #f2f2f2;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  align-items: center;
  /*! border: 1px solid #f2f2f2; */
  font-size: 1.6rem;
  border-radius: 4px;
  background: var(--brand-darkestGrey);
  border: 1px solid var(--brand-darkGrey);
}
@media (max-width: 1399px) {
  .section--ce .ce-grid .block .links a {
    font-size: 1.4rem;
  }
}
@media (max-width: 1199px) {
  .section--ce .ce-grid .block .links a {
    padding: 0.4rem 1rem;
  }
}
.section--ce .ce-grid .block .links a:hover {
  background: #404040;
}
.section--ce .ce-grid .block .links img {
  width: 18px;
  margin-right: 0.5rem;
}
.section--streams {
  background: var(--brand-darkestGrey);
  padding: 6rem 0;
}
@media (max-width: 1199px) {
  .section--streams {
    padding: 4rem 0 6rem;
  }
}
@media (max-width: 991px) {
  .section--streams {
    padding: 4rem 0;
  }
}
.section--streams .streamers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}
.section--streams .streamers:not(:empty) {
  margin-bottom: 4rem;
}
@media (max-width: 1199px) {
  .section--streams .streamers {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 767px) {
  .section--streams .streamers {
    grid-template-columns: repeat(2, 1fr);
  }
}
.section--streams .streamers .streamer {
  position: relative;
  display: flex;
  border: 3px solid transparent;
  padding: 1.5rem 2rem;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr auto;
}
@media (max-width: 1399px) {
  .section--streams .streamers .streamer {
    padding: 1.5rem;
  }
}
@media (max-width: 479px) {
  .section--streams .streamers .streamer {
    padding: 1.5rem 1rem;
  }
}
.section--streams .streamers .streamer.active, .section--streams .streamers .streamer:hover {
  border-color: var(--brand-blue);
}
.section--streams .streamers .streamer--preview {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.6;
}
.section--streams .streamers .streamer--name, .section--streams .streamers .streamer--views {
  --throw: 3px;
  --nt: calc(var(--throw) * -1);
  --spread: 4px;
  --color: rgba(0 0 0 / 0.6);
  color: white;
  position: relative;
  margin: 0;
  text-shadow: var(--throw) var(--throw) var(--spread) var(--color), var(--nt) var(--throw) var(--spread) var(--color), var(--throw) var(--nt) var(--spread) var(--color), var(--nt) var(--nt) var(--spread) var(--color);
}
.section--streams .streamers .streamer--name {
  font-size: 2.2rem;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media (max-width: 991px) {
  .section--streams .streamers .streamer--name {
    font-size: 2rem;
  }
}
@media (max-width: 575px) {
  .section--streams .streamers .streamer--name {
    font-size: 1.8rem;
  }
}
@media (max-width: 575px) {
  .section--streams .streamers .streamer--name {
    font-size: 1.6rem;
  }
}
@media (max-width: 379px) {
  .section--streams .streamers .streamer--name {
    font-size: 1.5rem;
  }
}
.section--streams .streamers .streamer--views {
  font-size: 1.6rem;
  padding-left: 1rem;
}
@media (max-width: 479px) {
  .section--streams .streamers .streamer--views {
    font-size: 1.3rem;
  }
}
@keyframes flash {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
.section--streams .streamers .streamer--views::before {
  --size: 1rem;
  content: "";
  display: inline-block;
  width: var(--size);
  height: var(--size);
  background: red;
  border-radius: 50%;
  animation-name: flash;
  animation-duration: 500ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@media (max-width: 479px) {
  .section--streams .streamers .streamer--views::before {
    --size: .9rem;
  }
}
.section--streams #twitch {
  position: relative;
  aspect-ratio: 16/9;
  width: 100%;
  margin: 0 auto 3rem;
  background: linear-gradient(45deg, rgb(52, 131, 236) 0%, rgb(100, 81, 183) 100%);
  display: grid;
  place-content: center;
}
.section--streams #twitch object, .section--streams #twitch iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.section--streams .noStreams {
  color: #fff;
  font-size: 4rem;
  display: flex;
  align-items: center;
  font-size: clamp(2rem, 3vw, 6rem);
  font-weight: var(--text-regular);
}
.section--streams .noStreams img {
  width: 64px;
  margin: 0 2rem;
}
.section--streams .noStreams img:last-of-type {
  transform: scaleX(-1);
}
@media (max-width: 575px) {
  .section--streams .noStreams img {
    width: 50px;
  }
}
@media (max-width: 479px) {
  .section--streams .noStreams img {
    width: 40px;
  }
}

#footer {
  background: var(--brand-darkGrey);
  padding: 6rem 0 0;
}
#footer .grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 6rem;
}
@media (max-width: 767px) {
  #footer .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 479px) {
  #footer .grid {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}
#footer .logo {
  width: 330px;
}
@media (max-width: 767px) and (min-width: 480px) {
  #footer .logo {
    width: 100%;
  }
}
@media (max-width: 479px) {
  #footer .logo {
    width: 230px;
  }
}
#footer .footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 8.5rem 0 0;
}
@media (max-width: 767px) and (min-width: 480px) {
  #footer .footer-nav {
    padding: 24% 0 0;
  }
}
@media (max-width: 479px) {
  #footer .footer-nav {
    padding: 0;
    text-align: center;
  }
}
#footer .footer-nav li.icons {
  display: flex;
  margin-top: 1rem;
  gap: 1.4rem;
  padding: 0.5rem;
}
#footer .footer-nav li a {
  position: relative;
  padding: 0.5rem;
  display: inline-flex;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 2.2rem;
  font-weight: var(--text-semi-bold);
}
#footer .footer-nav li a::before {
  content: "";
  position: absolute;
  top: 12px;
  right: 0;
  height: 1px;
  width: 500px;
}
#footer .footer-nav li a.img {
  padding: 0;
}
#footer .footer-nav li a.img svg {
  fill: white;
  height: 2.8rem;
}
#footer .footer-nav li a.img--discord svg .color {
  fill: transparent;
}
#footer .copyright {
  font-size: 1.6rem;
  color: white;
  border-top: 2px solid var(--brand-grey);
  padding: 2rem 0 1.5rem;
  margin-top: 5rem;
}
@media (max-width: 479px) {
  #footer .copyright {
    text-align: center;
    font-size: 1.4rem;
  }
}
